@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;  
}

html, body{
    height: 100%;
}

nav.mobile{
    display: none;
}

.botao-mobile{
    font-size: 26px;
    cursor: pointer;
    color: white;
    margin-right: 10px;
}

div.detalhes img {
    max-width: 350px;
}

div.dados-usuario img{
    width: 100%;
    max-width: 150px;
}

div.dados-usuario div{
    width: max-content;
}

div.dados-usuario h3{
    margin-left: 10px;
}

div.dados-usuario h3.ocupacao{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

div.dados-usuario h3.nome-usuario{
    font-size: 35px;
    color: #071e61;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    margin-bottom: 4px;
}

div.login form p{
    margin-top: 16px;
}

li{
    list-style-type: disc;
    list-style-position: inside;
    font-size: 17px;
    margin-bottom: 5px;
}

li span{
    position: relative;
    left: -8px;
}

span a{
    margin-left: 10px;
}

a.remover{
    color: #ff454d;
}

div.descricao p{
    text-align: justify;
}

div.descricao{
    max-width: 50%;
    margin: 0;
}

h2#mudarSenha{
    cursor: pointer;
    color: #b8860b;
}

h2#mudarSenha:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

div.resultados ul{
    text-align: center;
}

body {
    background: #4c6273;
}

footer {
    bottom: 0;
    left: 0;
    background: #074a71;
    padding: 20px 0;
    position: inherit;
    width: 100%;
}

footer p {
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    padding-bottom: 0;
}

.divisao-rb{
    width: 20%;
    padding: 0 10px;
}

nav.desktop .secao {
    font-size: 22px;
    color: white;
    margin-left: 6px;
}

h2.rotulo {
    color: black;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
}

h2.titulo {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 0;
}

div.esquerda .logomarca {
    text-decoration: none;
    font-size: 32px;
    color: white;
}

a .icones {
    margin-top: 5px;
    margin-right: 2.5px;
    margin-left: 10px;
    color: white;
    font-size: 34px;
}

div.links p{
    text-align: left;
}

.margem-body{
    margin-top: 33px;
    min-height: 100%;
    position: relative;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    background: #1c3040;
    padding: 20px 0;
}

nav.desktop ul {
    list-style-type: none;
    position: relative;
    top: 36px;
}

nav.desktop li {
    font-weight: 300;
    font-size: 15px;
    padding: 0 15px;
    text-transform: uppercase;
    display: inline-block;
}

nav.desktop a {
    color: #7A7A7A;
    text-decoration: none;
}

nav.desktop i:hover, div.esquerda a:hover, a.secao:hover {
    transition: 1s;
    color: #7f94a7;
}

input[type=submit]:hover, input[type="button"].cancelar:hover{
    transition: 1s;
    background: #7f94a7;
}

a:hover{
    color: rgba(131, 184, 230, 1);
}

a.remover:hover{
    color: rgba(196, 18, 18, 1);
}

ul{
    list-style-type: none;
}

.imagem{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.icone{
    width: 70%;
    margin-left: 35px;
    margin-top: 35px;
    max-width: 148px;
}

p{
    text-align: center;
}

table{
    margin-bottom: 25px;
    border: 0;
    font-size: 25px;
}

table.info td.celula-titulo{
    font-weight: bold;
    padding-right: 50px;
}

td{
    font-size: 17px;
}

h3{
    font-size: 20px;
    margin-top: 0px;
}

h3.curriculo{
    font-weight: bold;
}

h2.subtitulo.texto-esquerda{
    text-align: left;
}

div.detalhes h3, div.info-conta h3{
    font-weight: bold;
}

.subtitulo {
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    text-align: center;
    color: #013263;
    font-size: 27px;
}

p.mensagem {
    margin-top: 20px;
    color: white;
    display: inline-block;
    width: 100%;
}

section.info-usuario p.mensagem, section.info-vaga p.mensagem{
    color: #162b80;
}

p.aviso{
    font-size: 17px;  
    text-align: left;
    color: #013391;
}

.botao-cliente{
    margin-top: 45px;
}

form input[type=text], input[type=password], input[type=date], input[type=button], select, textarea{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 44px;
    margin-bottom: 5px;
    background: white;
    color: #333;
    font-size: 15px;
    padding-left: 10px;
    border: 1px solid #CCC;
    outline: 0;
}

form textarea{
    resize: none;
    height: 150px;
    padding: 8px;
}

input[type=file]{
    display: none;
}

input[type=button].cancelar{
    margin-top: 15px;
    color: white;
    background: #0065ad;
    border: 0;
}

div.cadastrar input[type=text], div.cadastrar input[type=password], div.cadastrar input[type=date], 
div.cadastrar input[type=button], div.cadastrar input[type="submit"], div.cadastrar select, div.cadastrar textarea{
    max-width: 670px;
}

div.cadastrar h2.rotulo{
    text-align: left;
}

div.pesquisar{
    margin-bottom: 18px;
}

div.pesquisar div.filtros{
    background: white;
    border-radius: 8px;
}

div.pesquisar div{
    padding: 0 1%;
    margin-top: 12px;
}

div.pesquisar input[type=text], div.pesquisar input[type=button]{
    border: 0;
    padding-right: 10px;
    border-right: 1px solid #CCC;
}

div.pesquisar select{
    border: 0;
}

div.pesquisar input[type=submit]{
    border-radius: 12px;
    max-width: 150px;
}

i#verSenha{
    font-size: 20px;
    float: right;
    cursor: pointer;
}

i#duvidaPalavrasChave{
    font-size: 20px;
    cursor: pointer;
}

div.cadastrar{
    max-width: 720px;
    border-radius: 9px;
    background-color: #fcf9f5;
    margin-bottom: 35px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 5px 40px, rgba(0, 0, 0, 0.1) 0 5px 10px;
}

div.login{
    max-width: 450px;
    max-height: 365px;
    background-color: #fcf9f5;
    margin-bottom: 35px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 5px 40px, rgba(0, 0, 0, 0.1) 0 5px 10px;
    transform: translateY(15vh);
}

div.login input[type=text], div.login input[type=password]{
    max-width: 340px;
    border-bottom-style: groove;
    border-width: 0px 0px 1px 0px;
    border-bottom-color: #4682b4;
    background: transparent;
    padding-left: 0;
    margin-bottom: 12px;
}

div.login input:hover{
    transition: 1s;
    border-bottom-color: #0a496e;
}

div.login input[type=submit]{
    margin-top: 25px;
}

div.cadastrar div{
    width: 100%;
}

.botao-login {
    margin-top: 20px;
}

form input[type=submit]{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9px;
    height: 50px;
    background: #0f5e8c;
    color: white;
    cursor: pointer;
    font-size: 18px;
    border: 0;
    width: 100%;
}

.divisao2{
    padding: 0 10px;
    width: 50%;
}

.divisao3{
    width: 33.3%;
    padding: 0 10px;
}

.divisao5{
    width: 20%;
    padding: 0 10px;
}

.esquerda{
    float: left;
}

.direita{
    float: right;
}

.limpar{
    clear: both;
}

.centro{
    padding: 0 3%;
    margin:0 auto;
}

form div.centro{
    padding: 0 1%;
}

.alinhar{
    width: 93%;
    max-width: 500px;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform:translate(-50%,-50%);
    text-align: center;
}

.alinhar h2{
    color: white;
    font-family: 'Epilogue', sans-serif;
    font-size: 40px;
}

.alinhar h2.slogan {
    font-size: 18px;
    margin-top: 0;
}

.resultados ul li{
    color: white;
}

/*Site*/

section.banner{
    width: 100%;
    height: 350px;
    background-image: url(../Content/Imagens/banner.png);
    background-size: cover;
    position: relative;
}

section.banner .sobreposicao{
    height: 100%;
    z-index: 1;
    background-color: rgba(51,51,51,0.4);
}

section.descricao{
    padding: 40px 0;
    background: #d9d0ba;
}

section.descricao h2 {
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-top: 0;
}

section.descricao p {
    text-align: justify;
    font-size: 17px;
    margin-top: 10px;
    color: black;
    max-width: 95%;
}

section.candidatar ul li{
    color: black;
}

section.info-usuario, section.info-vaga, section.candidatar, section.info-aluno{
    background: #f1e8d9;
    min-height: 100vh;
}

section.cadastro p a{
    color: white
}

section.pesquisar form input[type="submit"]{
    background: #043163;
}

section.pesquisar form input[type="submit"]:hover{
    transition: 1s;
    background: #104581;

}

section.pesquisar h2.titulo{
    color: #f1e8d9;
}

section.cadastro p.aviso{
    text-align: center;
}

section.cadastro ul{
    margin-bottom: 0;
    padding-bottom: 10px;
}

@media only screen and (max-device-width: 960px), (max-width: 960px){
    .divisao2{
        width: 100%;
        margin-bottom: 10px;
    }

    section.descricao .imagem{
        width: 70%;
    }
    
    section.pesquisar .divisao5{
        width: 100%;
        height: 50px;
        margin-top: 10px;
    }
    
    section.pesquisar form input[type="text"]{
        max-width: 450px;
        border-right: 0;
        border-bottom: 1px solid #CCC;
    }

    section.pesquisar form select{
        max-width: 450px;
    }
    
    section.pesquisar div.filtros{
        max-width: 500px;
    }
}

@media only screen and (max-device-width: 768px), (max-width: 768px){
    nav.desktop{
        display: none;
    }

    nav.mobile{
        display: block;
    }

    nav.mobile ul{
        top: 77px;
        z-index: 3;
        position: absolute;
        left: 0;
        width: 100%;
        display: none;
        text-align: center;
    }

    nav.mobile li{
        font-weight: 300;
        width: 100%;
        display: block;
        background: #335e80;
        border-bottom: 1px solid #44759c;
        font-size: 17px;
        padding: 8px 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    nav.mobile li a{
        display: block;
        color: white;
        text-decoration: none;
    }

    section.entrar div.login, section.cadastro div.cadastrar{
        transform: none;
        background: none;
        box-shadow: none;
        margin-top: 0;
        max-width: 500px;
        margin-bottom: 0;
    }

    div.dados-usuario{
        display: flex;
        justify-content: center;
    }
    
    section.cadastro p a{
        color: #5a9ad1;
    }
    
    section.entrar form input[type="text"], section.entrar form input[type="password"], section.cadastro form input[type="text"], section.cadastro form input[type="password"]
    section.cadastro form input[type="date"], section.cadastro form select
    {
        max-width: 450px;
    }

    section.entrar, section.cadastro{
        min-height: 100vh;
        background: #fcf9f5;
    }

    h2.subtitulo{
        font-size: 21px;
        margin-top: 25px;
        text-align: center !important;
    }

    div.descricao{
        max-width: 100%;
    }

    div.links p, div.descricao p, h3.curriculo{
        text-align: center;
    }

    p.aviso, section.info-usuario h3.curriculo, section.info-vaga h3.curriculo{
        font-size: 17px;
        text-align: center;
    }

    p.aviso a, section.info-usuario h3.curriculo a, section.info-vaga h3.curriculo a{
        font-size: 15px;
    }
    
    p.mensagem{
        color: #162b80;
    }

    ul li{
        text-align: center;
        margin-top: 12px;
    }
    
    div.resultados ul li{
        color: black;
    }
    
    section.pesquisar div.resultados ul li{
        color: white;
    }

    table{
        margin-left: auto;
        margin-right: auto;
    }

    table.info td{
        font-size: 15px;
    }

    table.info td.celula-titulo{
        text-align: right;
        padding-right: 16px;
    }

    div.esquerda a.logomarca, nav.desktop a.secao{
        font-size: 20px;
    }

    header div.esquerda{
        margin-top: 5px;
    }

    nav.desktop a i{
        font-size: 26px;
    }

    body{
        padding-top: 40px;
    }
}

@media only screen and (max-device-width: 700px), (max-width: 700px){
    section.descricao p{
        font-size: 16px;
    }
}
