﻿
@{
    ViewBag.Title = "Dados do aluno";
    Curriculum.Models.Aluno a = (Curriculum.Models.Aluno)TempData["aluno"];
    Curriculum.Models.Usuario u = (Curriculum.Models.Usuario)Session["Usuario"];
    Curriculum.Models.Curso c = (Curriculum.Models.Curso)TempData["cursoFeito"];
    Curriculum.Models.Curriculo curriculo = (Curriculum.Models.Curriculo)TempData["curriculo"];
}
@if (a != null && u.Admin == true)
{
    <section class="info-aluno">
        <p class="mensagem">@TempData["msg"]</p>
        <h2 class="titulo">@a.Nome</h2>

        <div class="centro">
            <h2 class="subtitulo texto-esquerda">Informações do aluno</h2>

            <table class="info">
                <tr>
                    <td class="celula-titulo">Nome:</td>
                    <td>@a.Nome</td>
                </tr>
                <tr>
                    <td class="celula-titulo">Telefone:</td>
                    <td>@a.Telefone</td>
                </tr>
                <tr>
                    <td class="celula-titulo">Endereço:</td>
                    <td>@a.Bairro, @a.CidadeResidencia - @a.Estado</td>
                </tr>
                <tr>
                    <td class="celula-titulo">CEP:</td>
                    <td>@a.Cep</td>
                </tr>
                <tr>
                    <td class="celula-titulo">Data de nascimento:</td>
                    <td>@a.DataNascimento.ToString("d")</td>
                </tr>

            @if (c != null)
            {
                <tr>
                    <td class="celula-titulo">Curso realizado:</td>
                    <td>@c.NomeCurso (@c.AbrevCurso)</td>
                </tr>
            }
            else
            {
                <tr>
                    <td class="celula-titulo">Curso realizado:</td>
                    <td>Nenhum curso foi encontrado neste perfil.</td>
                </tr>
            }
            </table>
        </div>

        <div class="centro">
            <h2 class="subtitulo texto-esquerda">Currículo</h2>

            @if (curriculo != null)
            {
                if (a.Empregavel)
                {
                    <h3 class="curriculo">@curriculo.NomeArquivo <a href="~/Home/BaixarCurriculo/@a.CodAluno">Baixar currículo</a></h3>
                }
                else
                {
                    <h3 class="curriculo">@curriculo.NomeArquivo</h3>
                    <p class="aviso">Atualmente, este perfil não está aberto a contratações.</p>
                }
            }
            else
            {
                <h3 class="curriculo">Nenhum currículo foi encontrado neste perfil.</h3>
            }
        </div>

        <div class="centro descricao">
            <h2 class="subtitulo texto-esquerda">Palavras-chave</h2>

            @if (a.PalavrasChave.Length > 0)
            {
                <p>@a.PalavrasChave</p>
            }
            else
            {
                <p class="aviso">Esse perfil não possui palavras-chave.</p>
            }
        </div>
    </section>
}
else
{
    <h2 class="titulo">Nada para mostrar aqui :(</h2>
}

